.sketch {
  position: relative;
  border: 1em solid black;
}
.sketch__info {
  display: none;
  pointer-events: none; /* prevent flickering text when hovering over img */
  color: white;
}
.sketch__preview {
  transition: 100ms;
}
.sketch__preview:hover {
  filter: opacity(0.5);
}
.sketch__preview:hover + .sketch__info { /* show info on hover of image*/
  display: block;
  position: absolute;
  text-align: end;
  bottom: 1em;
  right: 1em;
}
.info__name {
  margin: 1em 1em 0 1em;
}
.info__date {
  margin: 0 1em 1em 1em;
}

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}
