body, html, p, img {
  padding: 0;
  margin: 0;
}

img {
  z-index: -1; /* prevent img showing over nav */
  object-fit: contain; /* 1:1 (square) aspect ratio of images */
  width: 100%;
}

body {
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  z-index: 1; /* prevent img showing over nav */
  
  padding: 2em;
  
  background-color: white;
  box-shadow: 0px 2px 6px 0px lightgray;

  position: sticky;
  top: 0;
}

.sketches {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sketch {
  position: relative;
}
.sketch__info {
  display: none;
  pointer-events: none; /* prevent flickering text when hovering over img */
}
.sketch__preview {
  width: 100%;
  transition: 100ms;
}
.sketch__preview:hover {
  filter: opacity(0.2);
}
.sketch__preview:hover + .sketch__info { /* show info on hover of image*/
  display: block;
  position: absolute;
  text-align: end;
  bottom: 1em;
  right: 1em;
}
.info__name {
  margin: 1em 1em 0 1em;
}
.info__date {
  margin: 0 1em 1em 1em;
}

main {
  width: 30%;
  margin: 1em 0;
  padding: 12px;
  box-shadow: 0px 0px 6px 0px lightgray;
}